<% provide(:title, 'Home') %>
<h1>Welcome</h1>
    <p>
      My name is Brian Moyer and this is<br>
      my little corner of the internet.<br>
    <br>
      I plan to do a lot more with this page<br>
      in the future, but in the meantime, <br>
      you are welcome to follow me at my blog:<br> 
    <br>
      <a href="http://blog.bmoyer.com">blog.bmoyer.com</a>
    </p>
